.cocteils-group {
    width: 1200px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 368.66px 368.66px 368.66px;
    grid-template-rows: 320px 320px;
    gap: 30px;
}

.drinks-styles{
    min-height: 500px;
    min-width: 368.66px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
    transition: 1s;
    margin-top: 200px;
}

.drinks-styles:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.images-drinks-styles {
    width: 368.66px;
    height: 320px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h3 {
    font-size: 2rem;
    letter-spacing: 5px;
    padding: 20px 0px 0px 20px;
}

h4 {
    padding: 10px 0px 0px 20px;
    letter-spacing: 5px;

}

p {
    color: #afafafaf;
    padding: 10px 0px 0px 20px;
}

main a {
    margin: 10px 0px 0px 20px;
    color: white;
    background-color: #476a2e;
    width: 93.69px;
    height: 23.91px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.Form-Controlled {
    width: 640px;
    height: 144.39px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 8px;
    margin: 0 auto;
    margin-top: 100px;
    transition: 0.5s;
}

.label {
    font-weight: bold;
    width: 560px;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    color: #476a2e;
    letter-spacing: 3px;
}

input {
    width: 560px;
    height: 38px;
    border: none;
    background-color: #f1f5f8;
    margin-left: 40px;
    border-radius: 5px;
}

.Form-Controlled:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
    text-align: center;
    padding-top: 100px;
    letter-spacing: 5px;
}


.hrStyle {

  height: 2px;
  background-color: #000;
  width: 0;
  animation: lineAnimation 1s ease-in-out forwards;
}

@keyframes lineAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

